# Python
.venv/
__pycache__/
*.pyc

# Build and install artifacts
install_log.txt
start_openplc.sh
swapfile
webserver/core/glue_generator
webserver/st_optimizer
webserver/iec2c

# Runtime files
webserver/openplc.db
webserver/mbconfig.cfg
webserver/st_files/
webserver/active_program
